.App {
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #DB2777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}